*{margin: 0px;padding: 0px; box-sizing: border-box;list-style: none;outline: none;text-decoration: none;}
body{min-height: 100vh;font-family: 'Libre Baskerville', serif;background-color: #0b2442;}
:root{
    --value:71.25px;
}
/* start header_top */
body  #header_top{max-width:1440px;margin: 0px auto; min-height: var(--value);position: fixed;top:20px;z-index: 1;width: 100%;left: 50%;transform: translateX(-50%);}
    /* start navbar */
body  #header_top .navbar{width: 95%;min-height: inherit;display: flex;justify-content: flex-end;align-items: center;position: relative;margin-left: 5%;}
        /* start logo */
body  #header_top .navbar .logo{position: absolute;left: 0px;}
body  #header_top .navbar .logo svg{display: block;}
        /* start line */
body  #header_top .navbar .line{width: 500px;height: 1px;background-color:#fff;position: absolute;left: calc(5% + 48px);z-index: 1;}
        /* start nav_main */
body  #header_top .navbar .nav_main{padding-right: 192px;padding-left: 10%;-webkit-backdrop-filter: blur(10px);-moz-backdrop-filter: blur(10px);backdrop-filter: blur(10px);background-image:linear-gradient(to left ,rgb(255,255,255,.2),rgb(255,255,255,.02));}
body  #header_top .navbar .nav_main ul{display: flex;}
body  #header_top .navbar .nav_main ul li a{padding: 30px 0px;margin-right: 20px;border-bottom:2.5px solid rgba(255, 255, 255, 0);color: rgb(228, 228, 228);font-weight: bold;display: inline-block;font-size: 17px;}
body  #header_top .navbar .nav_main ul li:first-child a{border-bottom:2.5px solid #fff;}
body  #header_top .navbar .nav_main ul li:last-child a{margin-right: 0px;}
body  #header_top .navbar .nav_main ul li a span{font-weight:bold;color: #fff;}
body  #header_top .navbar .nav_main ul li a:hover{border-bottom:2.5px solid #fff;color: #fff;}
        /* start humbrger_menu */
body  #header_top .navbar .humbrger_menu{width:29px;height:21px;display: none;flex-direction: column;justify-content: space-between;position: absolute;right:71.25px;cursor: pointer;}
body  #header_top .navbar .humbrger_menu .bar{width: 100%;height: 2.5px;background-color: #fff;}
/* start header_bottom */
body  #header_bottom{max-width:1440px;margin: 0px auto;min-height: 700px;background-image: url('images/starter-code/assets/home/background-home-desktop.jpg');background-repeat: no-repeat;background-size: 100% 100%;position: relative;}
body  #header_bottom .container{width: calc(80% - calc(48px * 2));min-height: calc(700px - var(--value));position: absolute;top: 101px;left: 50%;transform: translateX(-50%);display: flex;justify-content: space-between;align-items: center;}
    /* start content_left */
body #header_bottom .container .content_left h3, .content_left  h1, .content_left  p{color: #fff;}
body  #header_bottom .container .content_left h3{word-spacing: 2px;letter-spacing: 2px;color:rgb(231, 231, 231);}
body  #header_bottom .container .content_left h1{font-size: 7em;display: inline-block;letter-spacing: 5px;margin: 15px 0px;}
body  #header_bottom .container .content_left p{max-width: 384px;text-align: justify;line-height: 25px;color:rgb(231, 231, 231) ;}
    /* start content_right */
body  #header_bottom .container .content_right{WIDTH: 230PX;height: 230px;background: #fff;display: flex;justify-content: center;align-items: center;border-radius: 50%;}
body  #header_bottom .container .content_right h3{letter-spacing: 2px;font-size: 1.4rem;}
@media(min-width:280px) and (max-width:1390px){
    body  #header_top .navbar .logo{left: var(--value);}
    body  #header_top .navbar .line{display: none;}
    body  #header_top .navbar{width: 100%; margin: 0px auto;}
    body  #header_top .navbar .nav_main{padding-right: var(--value);padding-left: var(--value);}
}
@media(min-width:280px) and (max-width:910px){
    body  #header_top .navbar .nav_main ul li a span{display: none;}
    body  #header_bottom{min-height: calc(730px + 29.75px);background-image: url('images/starter-code/assets/home/background-home-tablet.jpg');}
    body  #header_bottom .container{flex-direction: column;justify-content: center;}
    body  #header_bottom .container .content_left :is(h3,h1,p){text-align: center;}
    body  #header_bottom .container .content_left h1{margin:0px 0px;}
    body  #header_bottom .container .content_right{margin-top: 30px;}
}
@media(min-width:280px) and (max-width:625px){
    body  #header_top .navbar .logo{left: 35px;}
    body  #header_top .navbar .humbrger_menu{right: 35px;}
    body  #header_top .navbar .nav_main{position: fixed;top: 0px;left: 100%;transform: translate(0%); width: 100%;min-height: 100vh;}
    body  #header_top .navbar .nav_main ul{display:initial;}
    body  #header_top .navbar .nav_main ul li{display: block;}
    body  #header_top .navbar .humbrger_menu{display: flex;}
    body  #header_bottom{background-image: url('images/starter-code/assets/home/background-home-mobile.jpg');}
    body  #header_bottom .container{width: calc(100% - 50px);position: relative;left: 0px;transform: initial;margin: 0px auto;}
    body  #header_bottom .container .content_left{width: 100%;}
    body  #header_bottom .container .content_left h3{font-size: 18px;}
    body  #header_bottom .container .content_left h1{font-size: 4em;margin: .1em 0px;text-align: center;display: block;}
    body  #header_bottom .container .content_left p{margin: 0px auto;}
    body #header_bottom .container .content_right {WIDTH: 210PX;height: 210px;}
}
/* start main */
    /* start destination */
body #main{max-width: 1440px;border: 1px solid red;margin: 0px auto;}
body #main .destination{min-height: 700px;width: 100%;background-color: rgba(156, 114, 58, 0.379);}
